[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = 'trueseeing'
authors = [
  {name='Takahiro Yoshimura', email='altakey@gmail.com'}
]
classifiers = [
    "Topic :: Security",
    "Operating System :: Android",
    "Programming Language :: Java",
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)"
]
readme = "README.md"
keywords = ['android', 'java', 'security', 'pentest', 'hacking']
dependencies = [
    "lxml~=4.8",
    "pyyaml~=6.0",
    "jinja2~=3.1",
    "attrs~=21.4",
    "pypubsub~=4.0",
    "termcolor~=2.4",
]
requires-python = ">=3.7"
dynamic = ['version', 'description']

[project.optional-dependencies]
dev = [
  "mypy~=1.2",
  "pyproject-flake8~=5.0.4",
  "typing_extensions",
]

[project.urls]
Source = "https://github.com/alterakey/trueseeing"

[project.scripts]
trueseeing = "trueseeing.app._dummy:invoke"

[tool.mypy]
strict = true
show_error_codes = true
enable_error_code = "redundant-expr"

[[tool.mypy.overrides]]
module = [
  "lxml.*",
  "jinja2",
  "pubsub",
]
ignore_missing_imports = true

# pyproject-flake8 (pflake8)
[tool.flake8]
extend-ignore = "E301,E302,E265,E114,E501,E231,E252,E261,E701,E722,E741"
indent-size = 2
