<!DOCTYPE html>
<html>
  <head>
    <title>Trueseeing Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    <div class="container" role="main">
      <div class="jumbotron">
	<h1>Trueseeing Report</h1>
      </div>
      <div class="pageheader">
	<h1>1. Overview</h2>
      </div>
      <div>
	<p>Trueseeing has analyzed the given application '{{app.package}}'.</p>

	<p>We have detected {{app.issues}} issues.</p>

	<div class="progress">
	  <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: {{app.issues_critical / app.issues * 100}}%">
	    <span class="sr-only">{{app.issues_critical}}</span>
	  </div>
	  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: {{app.issues_high / app.issues * 100}}%">
	    <span class="sr-only">{{app.issues_high}}</span>
	  </div>
	  <div class="progress-bar progress-bar-warning" style="width: {{app.issues_medium / app.issues * 100}}%">
	    <span class="sr-only">{{app.issues_medium}}</span>
	  </div>
	  <div class="progress-bar progress-bar-success" style="width: {{app.issues_low / app.issues * 100}}%">
	    <span class="sr-only">{{app.issues_low}}</span>
	  </div>
	  <div class="progress-bar progress-bar-info" style="width: {{app.issues_info / app.issues * 100}}%">
	    <span class="sr-only">{{app.issues_info}}</span>
	  </div>
	</div>

	<table class="table table-hover">
	<thead>
	  <th>Severity</th><th>Count</th>
	</thead>
	<tbody>
	  <tr><td>Critical</td><td>{{app.issues_critical}}</td></tr>
	  <tr><td>High</td><td>{{app.issues_high}}</td></td></td></tr>
	  <tr><td>Medium</td><td>{{app.issues_medium}}</td></td></td></tr>
	  <tr><td>Low</td><td>{{app.issues_low}}</td></td></td></tr>
	  <tr><td>Info</td><td>{{app.issues_info}}</td></td></td></tr>
	</tbody>
	</table>

      </div>
      <div class="pageheader">
	<h1>2. Details</h2>
      </div>
      {% for issue in issues %}
      <div class="panel {{issue.severity_panel_style}}">
	<div class="panel-heading">
	  <h3 class="panel-title">2.{{issue.no}} {{issue.summary}} <span class="badge">{{issue.instances|length}}</span></h3>
	</div>
	<div class="panel-body">
	    <h4>Synopsis</h4>
	    <p>{{issue.synopsis}}</p>
	    <h4>Description</h4>
	    {% if issue.description is not none %}
	    <p>{{issue.description}}</p>
	    {% else %}
	    <p>No description provided.</p>
	    {% endif %}
	    {% if issue.seealso is not none %}
	    <h4>See Also</h4>
	    <p>{{issue.seealso}}</p>
	    {% endif %}
	    {% if issue.solution is not none %}
	    <h4>Solution</h4>
	    <p>{{issue.solution}}</p>
	    {% endif %}
	    <h4>Risk Factor</h4>
	    <p>{{issue.severity}}</p>
	    <h4>CVSS Temporal Score</h4>
	    <p>{{issue.cvss3_score}} ({{issue.cvss3_vector}})</p>
	    <h4>Instances</h4>
	    <ul>
	      {% for instance in issue.instances -%}
	      {% if instance.source is not none %}
	      {% if instance.row is not none %}
	      <li>{{instance.info}} ({{instance.source}}:{{instance.row}})</li>
	      {% else %}
	      <li>{{instance.info}} ({{instance.source}})</li>
	      {% endif %}
	      {% else %}
	      <li>{{instance.info}}</li>
	      {% endif %}
	      {% endfor -%}
	    </ul>
	</div>
      </div>
      {% endfor %}
      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
