<!DOCTYPE html>
<html>
  <head><title>Trueseeing2 Report</title></head>
  <body>
    <h1>Trueseeing2 Report</h1>
    <h2>1. Overview</h2>
    <h2>2. Details</h2>
    {% for issue in issues %}
    <h3>2.{{issue.no}} ({{issue.instances|length}}) {{issue.summary}}</h3>
    <h4>Synopsis</h4>
    <h4>Description</h4>
    <h4>See Also</h4>
    <h4>Solution</h4>
    <h4>Risk Factor</h4>
    <p>{{issue.severity}}</p>
    <h4>CVSS Temporal Score</h4>
    <p>{{issue.cvss3_score}} ({{issue.cvss3_vector}})</p>
    <h4>Instances</h4>
    <ul>
    {% for instance in issue.instances -%}
    <li>{{instance.info}} ({{instance.source}}:{{instance.row}})</li>
    {% endfor -%}
    </ul>
    {% endfor %}
  </body>
</html>
